<!-- Add User Section-->


<div>

    <label for="addUser">Add User: </label>
    <input type="text" placeholder="Enter user name" [(ngModel)]="currentUser"/> <!--[(ngModel)]="currentUser" → lie le champ HTML à la variable currentUser dans ton TypeScript-->
    <button type="button" (click)="addUserAction()" >Add User </button>
</div>

<!-- Delete User Section-->

<div>
    <label for="deleteUser">Delete User: </label>
    <button  (click)="deleteUserAction()" >Delete User</button>
</div>

<!-- User Table Section-->
<!--
<table >
    <tr *ngFor="let user of users; let i = index">
        <td>{{i + 1 }}</td>
        <td>{{user }}</td>
        <td><button (click)="deleteUserAction()">Delete</button></td>
    </tr>
</table>
-->

<ul>
    <li *ngFor="let user of users">
        {{user.name}} (ID : {{user.id}})
        <button (click)="deleteUserAction(user.id)">Delete</button>
    </li>
</ul>